@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<form method="get">
    <input type="text" name="query"/>
    <input type="submit" value="Sök"/>
</form>

<hr />
Du sökte på @Model.Query
